
<div class="page-inner">
	<div class="row">
		<div class="col-md-12 page-content">
			<div class="card card-with-nav">
				<div class="card-header">
          <app-nav-tab [navMenu]="navMenu" (selectMenu)="selectMenu($event)"></app-nav-tab>
				</div>
				<div class="card-body">
          <form #myForm="ngForm">
            <div *ngIf="selectedMenu?.id == 1">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default">
                    <label>Senha atual</label>
                    <input type="password" class="form-control"
                    [(ngModel)]="model.password"
                    name="password"
                    [required]="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default">
                    <label>Nova Senha</label>
                    <input type="password" class="form-control"
                    [(ngModel)]="model.new_password"
                    name="new_password"
                    [required]="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-group-default">
                    <label>Nova Senha</label>
                    <input type="password" class="form-control"
                    [(ngModel)]="model.new_password2"
                    name="new_password2"
                    [required]="true">
                  </div>
                </div>
              </div>
            </div>
          </form>
					<div class="text-right mt-3 mb-3">
						<button class="btn btn-success"
            [style.background]="configurations?.color_01"
            *ngIf="model?.new_password === model?.new_password2"
            (click)="save()">Alterar Senha</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
