

<div class="page-navs bg-white">
  <div class="nav-scroller">
    <div class="nav nav-tabs nav-line nav-color-secondary d-flex align-items-center justify-contents-center w-100">
      <a class="nav-link active show"
      [style.color]="configurations?.color_01"
      [style.border-color]="configurations?.color_01" data-toggle="tab" href="#tab1">Estoque
        <span class="count ml-1"></span>
      </a>
    </div>
  </div>
</div>
<div class="page-inner">
	<div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col">
          <div class="card card-stats card-round">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="flaticon-coins"
                    [style.color]="configurations?.color_01"></i>
                  </div>
                </div>
                <div class="col-7 col-stats">
                  <div class="numbers">
                    <p class="card-category">Valor Total Estoque</p>
                    <h4 class="card-title">R$ {{numberToMoney(dash.valor_total)}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-stats card-round">
            <div class="card-body ">
              <div class="row">
                <div class="col-5">
                  <div class="icon-big text-center">
                    <i class="fas fa-people-carry"
                    [style.color]="configurations?.color_01"></i>
                  </div>
                </div>
                <div class="col-7 col-stats">
                  <div class="numbers">
                    <p class="card-category">Total de Produtos</p>
                    <h4 class="card-title">{{dash.total_produtos}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-stats card-round">
            <div class="card-body ">
              <div class="row">
                <div class="col-3">
                  <div class="icon-big text-center">
                    <i class="fas fa-exclamation-triangle"
                    [style.color]="configurations?.color_01"></i>
                  </div>
                </div>
                <div class="col-9 col-stats">
                  <div class="numbers">
                    <p class="card-category">Produtos com estoque baixo ou zero</p>
                    <h4 class="card-title">{{dash.estoque_baixo.length + sem_estoque}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body p-0">
          <app-table
          #table
          [dataSource]="dataSource"
          [configuration]="configuration"
          (callbackButton)="callbackTable($event)">
          </app-table>
				</div>
			</div>
    </div>
  </div>
</div>
