.navbar-nav .nav-item a{
  // color: #fff;
}
.navbar-nav .nav-item a:hover{
  color: #626262;
}
.logo img{
  max-width: 150px;
  max-height: 62px;
}
.dropdown-user{
  width: max-content;
}
.user-box .u-text{
  padding-right: 0;
}
